.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
}

.itemList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 8px;
  cursor: move;
}

.listScroll {
  display: flex;
  flex-direction: column;
  line-height: 0;
  list-style: none;
  max-height: calc(100vh - 534px);
  overflow-x: hidden;
  overflow-y: scroll;
  padding-left: 0;
  row-gap: 16px;
  scroll-behavior: smooth;
}

.order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 52px;
}

.total {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.currency {
  width: 33px;
  height: 33px;
}

.price {
  font-family: 'Iceland', cursive;
  font-size: 48px;
  font-weight: 400;
  line-height: 36px;
  text-align: right;
  margin-right: 9px;
}

.bunNotSelected {
  max-width: 536px;
  min-height: 80px;
  background-color: #2f2f37;
  border: 1px dashed #fff;
  align-items: center;
  box-sizing: border-box;
  color: #f2f2f3;
  display: flex;
  flex-grow: 1;
  font-family: Jet Brains Mono;
  font-size: 16px;
  justify-content: center;
  line-height: 24px;
  padding: 16px 24px;
}

.bunNotSelected_type_top {
  border-radius: 88px 88px 40px 40px;
}

.bunNotSelected_type_bottom {
  border-radius: 40px 40px 88px 88px;
}

.nonIngredients {
  min-height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
