.App {
  /* max-width: 1920px; */
  /* margin: auto; */
}

.content {
  max-width: 1240px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
  justify-content: center;
}
