.card {
  align-items: center;
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 208px;
  justify-content: flex-start;
  max-width: 272px;
  position: relative;
  cursor: grab;
}

.priceContainer {
  display: flex;
}

.currency {
  width: 24px;
  height: 24px;
}
