.card {
  align-items: center;
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 208px;
  justify-content: flex-start;
  max-width: 272px;
  position: relative;
}

.priceContainer {
  display: flex;
  /* justify-content: center;
  gap: 8px; */
}

/* .price {
  font-family: 'Iceland', cursive;
  font-size: 28px;
  line-height: 24px;
} */

/* .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
} */

.currency {
  width: 24px;
  height: 24px;
}
