.wrapper {
  box-sizing: border-box;
  display: flex;
  gap: 60px;
  height: calc(100vh - 93px);
  max-width: 1920px;
  padding-left: 336px;
  padding-top: 121px;
  width: 100%;

}

.nav {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.link {
  text-decoration: none;
}

.active {
  color: rgb(255,255,255);
}

.info {
  margin: 0;
  padding-top: 80px;
  line-height: 24px;
}
