.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c21;
}

.header__navigation {
  min-width: 1280px;
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
}

.header__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-self: flex-start;
  gap: 8px;

}

.menuItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 20px;
  text-decoration: none;
  color: #8585AD;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.active {
  color: rgb(255, 255, 255);
}
